* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

button {
    border: none;
    border-radius: 5px;
    background-color: rgb(77, 0, 128);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

button a{
    border: none;
    border-radius: 5px;
    background-color: rgb(77, 0, 128);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

body {
    padding: 10px;
}

.highscores-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.highscore-list {
    display: flex;
    justify-content: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
}

.empty-state, .game-over {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.empty-state button, .game-over button, .highscores-heading button{
    margin-left: 35%;
    margin-right: 35%;
    /* width:fit-content; */
}

.quiz {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.answer-btns {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
}

.answer-btns button {
    width: fit-content;
    margin: 10px;
}

.scoreboard h3, .scoreboard a {
    text-decoration: none;
    font-weight: 400;
    margin-top: 5px,
    margin-bottom: 5px;
    height: fit-content;
}

.game-over input {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#leaderboard-link:hover {
    cursor: pointer;
}